/* google font import */


@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Fredoka+One&family=Uchen&display=swap');

/* outlines for testing */


/*div {
  outline: 5px darkgreen solid;
}

/* tag selectors */

body {
  background-color: #3C7A31;  
  background-image: url(grass_2.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; 
  color: blue;
  font-family: 'Uchen', serif;
  margin: 0;
}

#welcome {
  color: #F5C403;
  /*stroke: #575654;*/
  font-family: 'Fredoka One', cursive;
  font-size: 1.5em;
}

h1 {
  color: #F5C403;
  font-family: 'Uchen', serif;
  font-size: 2.5em;
  margin: 0;
}

h2 {
  color: #F5C403;
  font-family: 'Fredoka One', cursive;
}

a {
  color: #DA0;
  text-decoration: none;
}

/* id selector (one-off items) */

#logo {
  width: 250px;
}

#drawing {
  width: 250px;
}

#header {
 /* margin-bottom: 40px; */
  padding-top: 30px;
 /* padding-bottom: 20px; */
  text-align: center;
}



#menu {
  background-color: firebrick;
  background-image: url(barn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid firebrick;
  background-image: barn.jpeg;
  border-radius: 100px;
  display: grid;
  margin: auto;
  max-width: 1180px;
  padding: 20px 20px;
  margin-bottom: 5.5em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

#menu p {
  padding: 0.5em;
  text-align: center;
  color: white;
}


#menu img {
  max-width: 90%;
  padding: 0em;
}


/*

#egg {
   width: 250px;
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 1em;
} */


/*test code*/

.egg{
  position: relative;
  text-align: center;
  color: black;
  font-size: 1.5em;
}

.text {
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




#footer {
  color: white;
  font-size: 0.8em;
  opacity: 0.5;
  text-align: center;
  background-color: darkgreen;
  padding: 1em;
}

/* class selector (multiple instances) */

.menu-items {

}

.btn-yellow {
  background-color: #F5C403;
  border: 3px solid goldenrod;
  border-radius: 5px;
  color: #575654;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5em;
  padding: 0 10px 0px 10px;
  transition: background-color 0.5s;
  transition: color 0.5s;
}

.btn-yellow:hover {
  color: #FF0;
  background-color: #DA0;
  text-decoration: none;
  transition: background-color 0.5s;
  transition: color 0.5s;
}

/* descendant selectors */

#menu li {
  list-style: none;
  color: white;
  line-height: 95%;
  width: 90%;
  padding: 0.5em;
}

#menu div {
  grid-column: span 3;
  margin: 0 1em;
}

#menu div:nth-child(3) {
  border-bottom: 3px solid goldenrod;
  border-top: 3px solid goldenrod;
}

#menu h1 {
  grid-column: span 3;
  padding-bottom: 0.3em;
  text-align: center;
}

#menu h2 {
  margin-top: 0.5em;
  text-align: center;
}


#menu ul {
  text-align: left;
}


/*#menu .price {
  float: right;
  padding-right: 1em;
}

/* pseudo-class selector (for different states) */

a:hover {
  color: #DA0;
  text-decoration: underline;
}

/* media query */

@media only screen and (min-width: 720px) {

  #menu div {
    grid-column: auto;
    margin: 0;
  }

  #menu div:nth-child(3) {
    border: none;
    border-left: 3px solid #2A8;
    border-right: 3px solid #2A8;
  }

}
