<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <title>Chicken Picker</title>
    <meta name="description" content="Find the best backyard chicken for you!" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png')}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}" />

  </head>

  <body>

    <div id="header">
      <a href="index.html"> <img src="{{ url_for('static', filename='logo.svg') }}" id="logo" /> </a>
      <br>
      <img src="{{ url_for('static', filename='chicken_drawing.png') }}" id="drawing" />
      <p id = "welcome">
        Thinking about buying chickens for pets? They’re very friendly! <br>
        How about getting some fresh eggs from your own backyard? <br><br>
        Take this quiz and find out the best chicken breeds for you! </p>

      <p>
        <br>
         <!--<a class="btn-yellow" href="questions.html">Start the Quiz!</a>-->
          <a class="btn-yellow" href="{{ url_for('questions') }}">Start the Quiz!</a>
      </p>

    </div>

    <!--

        <div id="menu">

      <h1>Menu</h1>

      <div>
        <h2>Burgers</h2>
        <ol class="menu-items">
          {% for burger in burgers %}
          <li>{{ burger[0] }} <span class="price">{{burger[1]}}</span></li>
          {% endfor %}
        </ol>
     </div>

     </div>

   -->

    
    <div id="footer">
      {{ disclaimer | upper }}
    </div>

    <!--Inheritance: https://github.com/tabreturn/tutorial-212-burgers/blob/master/notes/lesson_02/notes.md --->

  </body>

</html>
