 {% extends "base.html" %}

    {% block title %}Chicken Picker{% endblock %}

    {% block content %}
        <body>

        <div id="header">
          <a href="/"> <img src="{{ url_for('static', filename='logo.svg') }}" id="logo" /> </a>
          <br>
          <img src="{{ url_for('static', filename='chicken_drawing.png') }}" id="drawing" />
          
          <p id = "welcome">
            Thinking about buying chickens for pets? They’re very friendly! <br>
            How about getting some fresh eggs from your own backyard? <br><br>
            Take this quiz and find out the best chicken breeds for you! </p>
            <br>


    <!--start quiz button-->

          <p>
              <a class="btn-yellow" href="{{ url_for('questions') }}">Start the Quiz!</a>
          </p>

        </div>
    {% endblock %}

  <!--footer-->

    {% block footer %}
    <div id="footer">
      {{ disclaimer|upper }}
    </div>
    {% endblock %}

  </body>

