<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <title>Chicken Picker</title>
    <meta name="description" content="Find the best backyard chicken for you!" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png')}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}" />

  </head>

  <body>

    <div id="header">
     <a href="index.html"> <img src="{{ url_for('static', filename='logo.svg') }}" id="logo" /> </a>
    </div>
  

      <div id="menu">

      <h1>Question 1: </h1> 
      <h1>How big is your backyard?</h1> 

      <div class="egg">
        <!--<img src="egg.png" width="50%">-->
        <img src="{{ url_for('static', filename='egg.png') }}" width="50%" />
        <div class= "text">Hello Test</div>
      </div>

      <div class="egg">
        <!--<img src="egg.png" width="50%">-->
        <img src="{{ url_for('static', filename='egg.png') }}" width="50%" />
        <div class= "text">Hello Test</div>
      </div>

      <div class="egg">
        <!--<img src="egg.png" width="50%">-->
        <img src="{{ url_for('static', filename='egg.png') }}" width="50%" />
        <div class= "text">Hello Test</div>
      </div>


    </div>

    {% extends "base.html" %}

{% block title %}Questions - 212-chickens-v2{% endblock %}

{% block head %}
    {{ super() }}
    <style>
      body {
        background-color: green;
      }
    </style>
{% endblock %}

{% block content %}
    <div id="header">
      <h1>Order now</h1>
      <p>PLACE YOUR ORDER</p>
    </div>
{% endblock %}

  </body>

</html>
