<!--<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <title>Chicken Picker</title>
    <meta name="description" content="Find the best backyard chicken for you!" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png')}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}" />

  </head>

  <body>

    <div id="header">
     <a href="/"> <img src="{{ url_for('static', filename='logo.svg') }}" id="logo" /> </a>
    </div>
    </body>
    </html>-->

    {% extends "base.html" %}

    {% block title %}Chicken Picker Quiz{% endblock %}

    {% block content %}
        <body>

        <div id="header">
          <a href="/"> <img src="{{ url_for('static', filename='logo.svg') }}" id="logo" /> </a>
          <br>


  <!--questions layout-->

      <div id="menu">

     <h1>Question 1:</h1> 
      <h1>How big is your backyard?</h1> 

     

    
<!--  <div class="egg">
        <img src="{{ url_for('static', filename='egg.png') }}" width="50%" />
        <div class= "text">Hello Test</div>
      </div>

      <div class="egg">
        <img src="{{ url_for('static', filename='egg.png') }}" width="50%" />
        <div class= "text">Hello Test</div>
      </div>

  <div class="egg">
        <img src="{{ url_for('static', filename='egg.png') }}" width="50%" />
        <div class= "text">Hello Test</div>
      </div>-->



<!--test egg question-->

  <!--answer #1-->
      <div class="egg">
        <img src="{{ url_for('static', filename='egg.png') }}" width="50%" />
        <div class= "text">
          {% for answer in answers %} 
          {{ answer[0][0] }}
          {% endfor %}
        </div>
      </div>


  <!--answer #2-->
      <div class="egg">
        <img src="{{ url_for('static', filename='egg.png') }}" width="50%" />
        <div class= "text">
          {% for answer in answers %} 
          {{ answer[0][1] }}
          {% endfor %}
        </div>
      </div>


  <!--answer #3-->
      <div class="egg">
        <img src="{{ url_for('static', filename='egg.png') }}" width="50%" />
        <div class= "text">
          {% for answer in answers %} 
          {{ answer[0][2] }}
          {% endfor %}
        </div>
      </div>

         <!--<div>
        <h2>Burgers</h2>
        <ol class="menu-items">
          {% for burger in burgers %}
          <li>{{ burger[0] }} <span class="price">{{ burger[1] }}</span></li>
          {% endfor %}
        </ol>
      </div>-->


    </div>

  {% endblock %}

<!--footer-->

    {% block footer %}
    <div id="footer">
      {{ disclaimer|upper }}
    </div>
    {% endblock %}

  </body>

</html>
