

    {% extends "base.html" %}

    {% block title %}Chicken Picker Quiz{% endblock %}

    {% block content %}


        <div id="header">
          <a href="/index"> <img src="{{ url_for('static', filename='logo.svg') }}" id="logo" /> </a>
          <br>


  <!--questions layout-->

      <div id="menu">

    
    <!--question-->
      <h1>Question #{{ questionss[current_question][0]}}</h1>
      <h1>{{ questionss[current_question][1]}}</h1>
<!--
      {% for question in questionss %}
       <h1>Question #{{ question[0] }}</h1>
       <h1>{{question[1]}}</h1>
       {% endfor %}
-->

<!--test egg question-->

 <form action="/results" method="post">

  <!--answer #1 (V.1)-->

  <a href="{{ url_for('egg') }}">
      <div class="egg">
        <img src="{{ url_for('static', filename='egg.png') }}" width="50%" />
        <div class= "text">
          {{answers[current_question][1]}}
          <!--
          {% for answer in answers %} 
          {{ answer[0][0] }}
          {% endfor %}
        -->
        </div>
      </div>
      </a>

      




<!--answer #2-->
  <a href="{{ url_for('egg') }}">
      <div class="egg">
        <img src="{{ url_for('static', filename='egg.png') }}" width="50%" />
        <div class= "text">
          {{answers[current_question][2]}}
          <!--
          {% for answer in answers %} 
          {{ answer[0][0] }}
          {% endfor %}
        -->
        </div>
      </div>
      </a>


  <!--answer #3-->
  <a href="{{ url_for('egg') }}">
      <div class="egg">
        <img src="{{ url_for('static', filename='egg.png') }}" width="50%" />
        <div class= "text">
          {{answers[current_question][3]}}
          <!--
          {% for answer in answers %} 
          {{ answer[0][0] }}
          {% endfor %}
        -->
        </div>
      </div>
      </a>

    </div>

  </form>

  {% endblock %}

<!--footer-->

    {% block footer %}

  </div><br>
    <div id="footer">
      {{ disclaimer|upper }}
    </div>
    {% endblock %}

